<div class="layout-row">
  <section class="layout-column align-items-center justify-content-center">
    <input
      [(ngModel)]="form.name"
      type="text"
      data-test-id="app-input-name"
      required
      placeholder="Name"
    />
    <input
      [(ngModel)]="form.genre"
      type="text"
      data-test-id="app-input-genre"
      required
      placeholder="Genre"
    />
    <input
    [(ngModel)]="form.creator"
      type="text"
      data-test-id="app-input-creator"
      required
      placeholder="Creator"
    />
    <form>
      <label
        ><input
          class="radioButton"
          data-test-id="app-input-book-type"
          type="radio"
          name="type"
          value="Book"
          [(ngModel)]="form.type"
        />Book</label
      >
      <label
        ><input
          class="radioButton"
          data-test-id="app-input-song-type"
          type="radio"
          name="type"
          value="Song"
          [(ngModel)]="form.type"
        />Song</label
      >
    </form>
    <input
      *ngIf="form.type == 'Song'"
      [(ngModel)]="form.totalTime"
      data-test-id="app-input-time"
      type="number"
      placeholder="Total Time"
    />
  </section>
  <section class="layout-row justify-content-center align-items-center">
    <button data-test-id="add-button" class="w-30" (click)="addItem()">Add</button>
  </section>
</div>
